.description1 {
    position: fixed;
    left: 75px;
    top: 150px;
}
.description2 {
    position: fixed;
    left: 75px;
    top: 175px;
}
.description3 {
    position: fixed;
    left: 75px;
    top: 205px;
}
.description4 {
    position: fixed;
    left: 75px;
    top: 235px;
}