.description {
    width: 900px;
    position: fixed;
    top: 150px;
    bottom: 450px;
    left: 50px;
    right: 50px;
    background-color: #F8F8FE;
}

h1{
    font-size: 40px;
    text-align: left;
}

p {
    font-size: 15px;
    text-align: left;
}